@font-face {
  font-family: ConcertOne;
  src: url(Titles.ttf);
}
@font-face {
  font-family: AbrilFatFace;
  src: url(Categories.ttf);
}
.cat {
	font-family: AbrilFatFace;
}
body {
  background-image: url('assets/bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: ConcertOne;
  font-size: 20;
}
a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: gray;
}
#episodeoptions {
  overflow: auto;
  height: 25%;
  white-space: nowrap;
  overflow-y: hidden;
  margin-bottom: 1%;
  margin-top: 1%;
}
#movieoptions {
  overflow: auto;
  height: 40%;
  white-space: nowrap;
  overflow-y: hidden;
  margin-bottom: 1%;
  margin-top: 1%;
}
#gameoptions {
  overflow: auto;
  height: 20%;
  white-space: nowrap;
  overflow-y: hidden;
  margin-bottom: 1%;
  margin-top: 1%;
}
#logo {
	margin: 5%;
}
img.rounded-corners {
	border-radius: 15px;
}