#SubjectVideo {
  position: fixed;
  height: 100%;
  width: 100%;
}
.progress {
  width: 1px;
  height: 15px;
  background: #006B5A;
  transition: width .1s linear;
  border-radius: 5px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  background-color: black;
}
#SubjectAudio {
  position: fixed;
    /*Remove past here when js code is working*/
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#Artwork {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}
#myBtn:hover {
  background: #ddd;
  color: black;
}
#Data {
  display: flex;
  flex-wrap: wrap;
}
.EpisodeData {
	text-align: right;
	flex: 50%;
}
#hideButtons {
	text-align: left;
	flex: 50%;
}
